@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
  animation-play-state: paused;
}

.animate-bounce:hover {
  animation-play-state: running;
}
